{% extends "management_system/base.html" %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'management_system/insights.css' %}"
/>
<div class="insights-page">
  <h2><b>Insights</b></h2>
  <div class="insights-body">
    <div class="insights-body-content">
      <h3><b>Appointment Analysis</b></h3>
    </div>
    <div class="insights-body-content">
      <h3><b>Health Overview</b></h3>
    </div>
    <div class="insights-body-content">
      <h3><b>Pending Tasks</b></h3>
    </div>
    <div class="insights-body-content">
      <h3><b>Upcoming Schedule</b></h3>
    </div>
  </div>
</div>
{% endblock %}
