{% extends "management_system/base.html" %} {% block content %}
<div class="patient-records-body">
  <h1>Patient Records</h1>
  <div class="doctor-appointments-body-content">
    <table class="patient-records-table">
      {% if appointments %}
      <thead>
        <tr>
          <th class="appointments-table-header">Patient</th>
          <th class="appointments-table-header">Last Visit</th>
          <th class="appointments-table-header">Doctor</th>
          <th class="appointments-table-header">Status</th>
          <th class="appointments-table-header">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for appointment in appointments %}
        <tr class="doctor-appointments-row">
          <td class="appointments-content">{{ appointment.patient_name }}</td>
          <td class="appointments-content">{{ appointment.appointment_date }}</td>
          <td class="appointments-content">{{ appointment.doctor_selected }}</td>
          <td class="appointments-content">{{ appointment.status }}</td>
          <td class="appointments-content">
                <button type="submit" class="end-btn">View</button>
          </td>
        </tr>
        {% endfor %} {% else %}
        <p>No appointments to display here</p>
      </tbody>
      {% endif %}
    </table>
  </div>
</div>
{% endblock %}